NEXT_PUBLIC_SPACE_ID=Your Contentful space ID"
NEXT_PUBLIC_ACCESS_TOKEN="Your Contentful Access Token"
NEXT_PUBLIC_PREVIEW_ACCESS_TOKEN="Your Contentful Preview Access Token"
NEXT_PUBLIC_PREVIEW_SECRET="Your Contentful Preview Secret"
